In [172]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import iplot
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams.update({'font.size': 11})

import warnings 
warnings.simplefilter('ignore')
import pickle

with open('../Имена_скважин_pickle/dict_name_well.pickle', 'rb') as f:
    dict_name_well = pickle.load(f)

%config InlineBackend.figure_formats = 'svg'

In [9]:
train = pd.read_csv('../../data/Исходные_данные/train_data.csv')
train['WELL_NAME'] = train['WELL_NAME'].map(dict_name_well)
train.drop(columns=['KCHARWORK', 'MEASURED_IN', 'IS_WORKING'], inplace=True)
train['MEASURED_IN_DATE'] = pd.to_datetime(train['MEASURED_IN_DATE'])

coord_well = pd.read_csv('../../data/Исходные_данные/coords.csv')
coord_well['WELL_NAME'] = coord_well['WELL_NAME'].map(dict_name_well)
coord_well.dropna(inplace=True)
coord_well = coord_well.set_index('WELL_NAME')
coord_well.sort_index(inplace=True);
#coord_well.reset_index(drop=True, inplace=True);

In [10]:
coord_well.head()

            COORD_X   COORD_Y        X2        Y2
WELL_NAME
0.0         8723.72   9233.28   8734.83   9266.15
1.0         3230.05  10023.99   3228.69  10026.23
2.0         9139.72   8098.28   9107.33   8136.30
3.0        13248.72   3294.28  13180.20   3253.84
4.0        11009.72   8856.28  11029.73   8939.46

In [7]:
graph_wells = pd.DataFrame(index=range(266))
for well in range(266):
    graph_wells[well] = np.sqrt(np.square(coord_well['COORD_X'] - coord_well[coord_well.index == well]['COORD_X'].values) +
                        np.square(coord_well['COORD_Y'] - coord_well[coord_well.index == well]['COORD_Y'].values))
graph_wells.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.000000,5550.282189,1208.834563,7466.414534,2316.878288,1197.448120,2112.274603,1706.095479,1879.414649,4742.804655,...,4751.633818,3902.751253,1703.789632,1836.696196,1650.054443,2666.949595,7000.858697,4118.238649,7388.558098,7740.414535
1,5550.282189,0.000000,6215.509514,12069.082204,7866.817142,6741.650306,7635.158454,6554.488347,7273.234877,10121.601743,...,829.080852,1788.555145,5775.980221,5916.349271,4472.687248,6694.739180,7255.699064,6868.956089,9719.150350,9519.010449
2,1208.834563,6215.509514,0.000000,6321.573934,2017.786906,1116.962399,2095.214786,497.772202,1117.914273,3906.176775,...,5470.104568,4728.386126,879.996245,2942.017191,1792.375581,1530.075606,6270.660809,3117.241943,6283.835818,6701.673134
3,7466.414534,12069.082204,6321.573934,0.000000,5995.745575,6566.353630,6502.122269,5848.268857,5700.068596,3645.387497,...,11447.148605,10870.636613,6414.923193,8805.689219,7732.730321,5393.659576,7884.938204,5492.007312,4977.398349,5894.226812
4,2316.878288,7866.817142,2017.786906,5995.745575,0.000000,1129.559649,506.557993,2068.559954,1035.284290,2681.284207,...,7068.105652,6207.498601,2872.923750,2927.751109,3691.727659,3058.434436,8068.295918,4709.569222,7448.348587,8036.912300

In [101]:
train_oil_year_accum = pd.read_csv('../../data/Преобразованные_данные/train_oil_year_accum.csv')
train_oil_year_accum['MEASURED_IN_DATE'] = pd.to_datetime(train_oil_year_accum['MEASURED_IN_DATE'])

In [4]:
full_well = []
for well in train_oil_year_accum['WELL_NAME'].unique():
    
    data = train_oil_year_accum[train_oil_year_accum['WELL_NAME'] == well]
    data.set_index('MEASURED_IN_DATE', inplace=True)
    
    daily_counts = data.resample('D').count()
    if daily_counts.isnull().values.any():
        full_well.append(well)
print(f'Cкважин с не пропущенными значениями = {len(full_well)}')

Cкважин с не пропущенными значениями = 0

In [160]:
train_oil_accum_without_gaps = pd.DataFrame()
count_rows = 0


for well in train_oil_year_accum['WELL_NAME'].unique():
    
    data = train_oil_year_accum[train_oil_year_accum['WELL_NAME'] == well]
    data = data.sort_values(by='MEASURED_IN_DATE')

    df_dates = pd.DataFrame()

    df_dates['MEASURED_IN_DATE'] = data['MEASURED_IN_DATE']
    
    df_dates['NUMBER'] = list(range(count_rows, df_dates.shape[0]  + count_rows))
    count_rows += df_dates.shape[0]
    
    df_dates['DIFF_DATE'] = data['MEASURED_IN_DATE'].diff()
    df_dates = df_dates[['NUMBER', 'MEASURED_IN_DATE', 'DIFF_DATE']]

    intervals = pd.DataFrame()
    intervals['DIFF_COUNT'] = df_dates[df_dates['DIFF_DATE'] != '1 days']['NUMBER'].diff()
    intervals['INDEX_DATE'] = intervals.index
    intervals.reset_index(drop=True, inplace=True)
    intervals = intervals[['INDEX_DATE', 'DIFF_COUNT']]

    max_diff = intervals['DIFF_COUNT'].max()    
    end_max_interval = int(intervals[intervals['DIFF_COUNT'] == max_diff]['INDEX_DATE'])
    start_max_interval = int(intervals.iloc[intervals[intervals['DIFF_COUNT'] == max_diff].index - 1]['INDEX_DATE'])
    
    train_oil_accum_without_gaps = pd.concat([train_oil_accum_without_gaps, 
                                                  train_oil_year_accum.iloc[start_max_interval : end_max_interval]]) 
train_oil_accum_without_gaps.reset_index(drop=True, inplace=True)
train_oil_accum_without_gaps

,MEASURED_IN_DATE,WELL_NAME,CHARWORK,WATER_CUT,P_ZAB,INTAKE,WELLHEAD_PRESSURE,LIQ_RATE,OIL_RATE,WATER_RATE,Q_LIQ_ACCUM,Q_OIL_ACCUM,Q_WATER_ACCUM
0,2020-08-31,1,НЕФ,60.0,52.57,0.0,NaN,247.0,98.80,148.20,32268.0,18217.47,14050.53
1,2020-09-01,1,НЕФ,60.0,52.57,0.0,NaN,244.0,97.60,146.40,32512.0,18315.07,14196.93
2,2020-09-02,1,НЕФ,59.0,51.55,0.0,NaN,243.0,99.63,143.37,32755.0,18414.70,14340.30
3,2020-09-03,1,НЕФ,60.0,51.57,0.0,NaN,241.0,96.40,144.60,32996.0,18511.10,14484.90
4,2020-09-04,1,НЕФ,62.0,51.60,0.0,NaN,240.0,91.20,148.80,33236.0,18602.30,14633.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42928,2021-09-20,258,НЕФ,54.0,49.83,0.0,NaN,217.0,99.82,117.18,66685.0,42738.65,23946.35
42929,2021-09-21,258,НЕФ,54.0,48.92,0.0,NaN,221.0,101.66,119.34,66906.0,42840.31,24065.69
42930,2021-09-22,258,НЕФ,54.0,48.92,0.0,NaN,218.0,100.28,117.72,67124.0,42940.59,24183.41
42931,2021-09-23,258,НЕФ,54.0,48.92,0.0,NaN,216.0,99.36,116.64,67340.0,43039.95,24300.05
42932,2021-09-24,258,НЕФ,54.0,48.92,0.0,NaN,218.0,100.28,117.72,67558.0,43140.23,24417.77

In [142]:
well_more_365 = train_oil_accum_without_gaps.groupby('WELL_NAME').size() > 365
list_well_more_365 = well_more_365[well_more_365].index.tolist()
train_oil_year_accum_without_gaps = train_oil_accum_without_gaps[
    train_oil_accum_without_gaps['WELL_NAME'].isin(list_well_more_365)
]

train_oil_year_accum_without_gaps.reset_index(drop=True, inplace=True)
train_oil_year_accum_without_gaps

,MEASURED_IN_DATE,WELL_NAME,CHARWORK,WATER_CUT,P_ZAB,INTAKE,WELLHEAD_PRESSURE,LIQ_RATE,OIL_RATE,WATER_RATE,Q_LIQ_ACCUM,Q_OIL_ACCUM,Q_WATER_ACCUM
0,2020-08-31,1,НЕФ,60.0,52.57,0.0,NaN,247.0,98.80,148.20,32268.0,18217.47,14050.53
1,2020-09-01,1,НЕФ,60.0,52.57,0.0,NaN,244.0,97.60,146.40,32512.0,18315.07,14196.93
2,2020-09-02,1,НЕФ,59.0,51.55,0.0,NaN,243.0,99.63,143.37,32755.0,18414.70,14340.30
3,2020-09-03,1,НЕФ,60.0,51.57,0.0,NaN,241.0,96.40,144.60,32996.0,18511.10,14484.90
4,2020-09-04,1,НЕФ,62.0,51.60,0.0,NaN,240.0,91.20,148.80,33236.0,18602.30,14633.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18572,2021-09-20,252,НЕФ,40.0,59.79,0.0,NaN,145.0,87.00,58.00,100079.0,73763.43,26315.57
18573,2021-09-21,252,НЕФ,40.0,58.84,0.0,NaN,142.0,85.20,56.80,100221.0,73848.63,26372.37
18574,2021-09-22,252,НЕФ,40.0,60.40,0.0,NaN,148.0,88.80,59.20,100369.0,73937.43,26431.57
18575,2021-09-23,252,НЕФ,41.0,58.87,0.0,NaN,146.0,86.14,59.86,100515.0,74023.57,26491.43
18576,2021-09-24,252,НЕФ,41.0,58.87,0.0,NaN,145.0,85.55,59.45,100660.0,74109.12,26550.88

train_oil_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_accum_without_gaps.csv', index=False)
train_oil_year_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_year_accum_without_gaps.csv', index=False)

In [96]:
well = 258
data = train_oil_year_accum[train_oil_year_accum['WELL_NAME'] == well]
data = data.sort_values(by='MEASURED_IN_DATE')

df_dates = pd.DataFrame()

df_dates['MEASURED_IN_DATE'] = data['MEASURED_IN_DATE']
df_dates['NUMBER'] = list(range(df_dates.shape[0]))
df_dates['DIFF_DATE'] = data['MEASURED_IN_DATE'].diff()
df_dates = df_dates[['NUMBER', 'MEASURED_IN_DATE', 'DIFF_DATE']]


intervals = pd.DataFrame()
intervals['DIFF_COUNT'] = df_dates[df_dates['DIFF_DATE'] != '1 days']['NUMBER'].diff()
intervals['INDEX_DATE'] = intervals.index
intervals.reset_index(drop=True, inplace=True)
intervals = intervals[['INDEX_DATE', 'DIFF_COUNT']]

max_diff = intervals['DIFF_COUNT'].max()
end_max_interval = int(intervals[intervals['DIFF_COUNT'] == max_diff]['INDEX_DATE'])
start_max_interval = int(intervals.iloc[intervals[intervals['DIFF_COUNT'] == max_diff].index - 1]['INDEX_DATE'])
data.iloc[start_max_interval : end_max_interval]

   INDEX_DATE  DIFF_COUNT
0      104588         NaN
1      104818       230.0
2      104839        21.0
3      104896        57.0
4      104995        99.0
5      105010        15.0
6      105024        14.0

In [170]:
def make_df_with_count_days_ago(dataframe, count_days, target):
    """
    dataframe - DataFrame откуда будут браться данные.
    count_days - количество прошлых измерений (в прошлые дни), которые будут в таблице.
    target - название столбца, который будет использоваться для создания временного ряда.
    
    """
    list_df = []

    for well in dataframe['WELL_NAME'].unique():

        data = dataframe[dataframe['WELL_NAME'] == well]
        data.set_index('MEASURED_IN_DATE', inplace=True)

        target_series = data[target]

        df = pd.DataFrame()
        
        df['WELL_NAME'] = data['WELL_NAME'][count_days :].reset_index(drop=True)

        for i in range(count_days):
            df[f'{target}_{count_days - i}_days_ago'] = \
                target_series[i : target_series.count() - count_days + i].reset_index(drop=True)

        df.index = target_series.index[count_days :]
        df[f'TARGET_{target}'] = target_series[count_days :]
        list_df.append(df)
    df = pd.concat(list_df)
    return df

In [176]:
import pandas as pd
from functions.make_df_with_count_days_ago import make_df_with_count_days_ago
make_df_with_count_days_ago(dataframe=train_oil_accum_without_gaps, count_days=50, target='OIL_RATE')

NameError: name 'pd' is not defined

In [36]:
df.to_csv('../../data/Преобразованные_данные/train_oil_rate_50_days_ago.csv')